<!DOCTYPE html>
<html>
  <head>
    <title>RedditClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%if logged_in?%>
      <h3><%=current_user.username%></h3>

      <form action="<%=session_url%>" method="post">
        <%=auth_token%> 
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Log out">
      </form>

    <%else%>
      <%if !current_page?(new_user_path)%>
        <a href="<%=new_user_url%>">Sign Up</a>
      <%end%>
      <br>
      <%if !current_page?(new_session_path)%>
        <a href="<%=new_session_url%>">Sign In</a>
      <%end%>
    <%end%>
    <br>
    <a href="<%=subs_url%>">All Subreddits</a>

    <%= yield %>

    <% if flash[:errors] %>
      <% flash[:errors].each do |error| %>
        <li><%= error %></li>
      <% end %>
    <% end %>

  </body>
</html>
