<h1>Add a New Goal</h1>
<h2><%=@user.username%></h2>

<%if flash[:errors]%>
    <%flash[:errors].each do |e|%> 
        <li><%=e%></li>
    <%end%>
<%end%>

<form action="<%=user_goals_url(@user)%>" method="post">
    
    <label>Name 
        <input type="text" name="goal[name]" value="">
    </label> 

    <label>Details 
        <input type="text" name="goal[details]" value="">
    </label> 

    <p>Goal completed?</p>

    <label for="true">True<label>
    <input type="radio" name="goal[status]" value="true" id="true">

    <label for="false">False<label>
    <input type="radio" name="goal[status]" value="false" id="false">

    <input type="submit" value="Create Goal">
</form>


    <%@user.goals.each do |g|%>
        <ul> 
            <li><%=g.name%></li> 
            <li><%=g.details%></li>
            
            <% if g.status %>
                <p>Done</p> 
            <%else%>
            <%end%>
            <form action="<%=goal_url(g)%>" method="post">
                <input type="hidden" name="_method" value="delete">
                <input type="submit" value="Delete Goal">
            </form>
        </ul>
    <%end%>
